@model IEnumerable<Italika.Models.Productos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css" />
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="tblRutas">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SKU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fert)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroSerie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SKU)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fert)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroSerie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdProducto }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdProducto }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdProducto })
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#tblRutas").dataTable({
            'bPaginate': true,
            'bInfo': true,
            'searching': true,
            'ordering': true
        });
    });
</script>